<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link 
    href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:wght@400;700&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>My Basketball Web App</title>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <ul class="menu-list">
          <li>
            <div class="menu-container">
              <button class="icon" id="menu">
                <img height="30px" src="images/menu.svg" alt="menu" />
              </button>
            </div>
          </li>
          <li class="imge">
            <a href="/">
              <button class="icon" id="playerOfTheDay" >
                <img class="image" height="70px" src="images/player-of-the-day.svg" alt="player of the day" />
              </button>
            </a>
          </li>
          <li>
            <a href="/matches-today">
              <button class="icon" id="matches">
                <img class="image" height="55px" src="images/matches-of-the-day.svg" alt="Matches of the day" />
              </button>
            </a>
          </li>
          <li>
            <a href="/player-stats">
              <button class="icon" id="playerStats">
                <img class="image" height="70px" src="images/player-stats.svg" alt="Player stats" />
              </button>
            </a>
          </li>
          <li>
            <a href="/player-comparison">
              <button class="icon" id="playerComparison">
                <img class="image" height="70px" src="images/player-comparison.svg" alt="Compare players" />
              </button>
            </a>
          </li>
          <li>
            <a href="/league-leaders">
              <button class="icon" id="leagueLeaders">
                <img class="image" height="45px" src="images/league-leaders.svg" alt="League Leaders" />
              </button>
            </a>
          </li>
          <li>
            <button class="icon" id="safe2hoop">
              <img class="image" height="45px" src="images/safe2hoop.svg" alt="Safe to hoop" />
            </button>
          </li>
        </ul>
        <div class="logout-container">
          <div class="icon-logout">
            <img height="60px" width="80px" src="images/cosmic-logo-dark.png" alt="logout" />
          </div>
        </div>
      </aside>
