<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/navbar.css" />
    <title>My Basketball Web App</title>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <ul class="menu-list">
          <li>
            <div class="menu-container">
              <button class="icon" id="menu">
                <img src="/assets/images/menu.svg" alt="menu" />
              </button>
            </div>
          </li>
          <li>
            <button class="icon" id="playerOfTheDay">
              <img src="/assets/images/search.svg" alt="player of the day" />
            </button>
          </li>
          <li>
            <button class="icon" id="matches">
              <img src="/assets/images/grid.svg" alt="Matches of the day" />
            </button>
          </li>
          <li>
            <button class="icon" id="playerStats">
              <img src="/assets/images/pet.svg" alt="Player stats" />
            </button>
          </li>
          <li>
            <button class="icon" id="playerComparison">
              <img src="/assets/images/user.svg" alt="Compare players" />
            </button>
          </li>
          <li>
            <button class="icon" id="leagueLeaders">
              <img src="/assets/images/vet.svg" alt="League Leaders" />
            </button>
          </li>
          <li>
            <button class="icon" id="safe2hoop">
              <img src="/assets/images/settings.svg" alt="Safe to hoop" />
            </button>
          </li>
        </ul>
        <div class="logout-container">
          <button class="icon-logout">
            <img src="/assets/images/log-out.svg" alt="logout" />
          </button>
        </div>
      </aside>
