<%- include("partials/navbar.ejs") %>

<section class="main">
  <h1>PLAYER OF THE DAY</h1>
  <img class="player-of-the-day-image" src="<%= imageSrc %>" alt="Player of the day" />
</section>

<%- include("partials/footer.ejs") %>
